<!-- start category-list-post -->
<div class="category-list-post section-ptb-2">
    <div class="container">
        <div class="row">
            {{#get "posts" filter="tag:business" include="tags,authors" limit="5"}}
            {{#if posts.length}}
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category category-news-one">
                    <div class="primary-heading news-heading-one">
                        <h4>{{t "Business"}}</h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        {{#foreach posts}}
                        <li>
                            <div class="single-post">
                                <div class="post-thumb">
                                    <div class="small-post-thumb "
                                        style="background-image:url({{img_url feature_image}});"></div>
                                    
                                </div>
                                <div class="item-post-content">
                                    <h2><a href="{{url}}">{{title}}</a></h2>
                                </div>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
            {{/if}}
            {{/get}}
            {{#get "posts" filter="tag:international" include="authors,tags" limit="5"}}
            {{#if posts.length}}
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category single-post-column category-news-two">
                    <div class="primary-heading news-heading-two">
                        <h4>{{t "International"}}</h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        {{#foreach posts}}
                        <li>
                            <div class="single-post">
                                <div class="post-thumb">
                                    <div class="small-post-thumb "
                                        style="background-image:url({{img_url feature_image}});"></div>
                                    
                                </div>
                                <div class="item-post-content">
                                    <h2><a href="{{url}}">{{title}}</a></h2>
                                </div>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
            {{/if}}
            {{/get}}
            {{#get "posts" filter="tag:financial" include="authors,tags" limit="5"}}
            {{#if posts.length}}
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category category-news-three">
                    <div class="primary-heading news-heading-three">
                        <h4>{{t "Financial"}}</h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        {{#foreach posts}}
                        <li>
                            <div class="single-post">
                                <div class="post-thumb">
                                    <div class="small-post-thumb "
                                        style="background-image:url({{img_url feature_image}});"></div>
                                    
                                </div>
                                <div class="item-post-content">
                                    <h2><a href="{{url}}">{{title}}</a></h2>
                                </div>
                            </div>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
            </div>
            {{/if}}
            {{/get}}
        </div>
    </div>
</div>


<!-- end category-list-post -->