<!-- start news-photo-gallery -->
{{#get "posts" filter="tag:recipes" limit="6" include="authors,tags"}}
{{#if posts.length}}
<div class="news-photo-gallery">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="gallery-heading">
               <div class="primary-heading">
                  <h4>{{t "Recipe & Appetizer"}}</h4>
                  <span class="box"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row gallery-post-wrapper">
         {{#foreach posts}}
         <div class="col-md-4 col-sm-6">
            <div class="photo-gallery-single">
             <div class="post-image">
                  {{#primary_tag}}
                  <a class="tag-name green-color" href="{{url}}">{{name}}</a>
                  {{/primary_tag}}
                  <a href="{{url}}"> <div class="medium-post-thumb" style="background-image:url({{img_url feature_image}});"></div>  </a>               
               </div>
            </div>
         </div>
         {{/foreach}}
      </div>
   </div>
</div>
{{/if}}
{{/get}}

<!-- end news-photo-gallery -->