{{!< ../default}}

<main class="site-signin main-content-area pb-80 pt-80 clearfix wow fadeIn" data-wow-duration="2s">
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                  <div class="member-page-content">
    {{#if @member}}

        {{!-- Logged in: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

    {{else}}

        {{!-- Not logged in: Signin form --}}
        <div class="member-form form-max-width">
        <form class="signin-form" data-members-form="signin">
            <h1 class="signin-title">{{t "Welcome back!"}}</h1>
            <p>{{t "Sign into your account again for full access"}}</p>
            <div class="signin-box">
                <input class="form-control" data-members-email type="email" placeholder="{{t "Your email address"}}" required="true" autocomplete="false" />
                <button class="button btn btn-primary btn-style-2" type="submit">
                    <span class="button-content">{{t "Send login link"}}</span>
                    <span class="button-loader">{{> "icons/loader"}}</span>
                </button>
            </div>
            <p><small>{{t "Don't have an account yet? "}}<a href="/signup/">{{t "Sign up"}} </a></small></p>
            <div class="message-success"><strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to complete signin"}}</div>
            <div class="message-error">{{t "Please enter a valid email address!"}}</div>
        </form>
        </div>

    {{/if}}
				</div>
            </div>
        </div>
    </div>
</div>
</main>


 <style type="text/css">
 .footer-top.py-5 {
    display: none;
}
 </style>